src/main/mule/implementations/retriveSchedulesFromTravelOnTip-SAPI.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="retriveSchedulesFromTravelOnTip-SAPIFlow" doc:id="5636c79c-a162-4661-973a-27a410de94c6" >
		<logger level="INFO" doc:name="Logger" doc:id="27f7b793-f6ee-4689-8524-2b9dd2f5f10b" message='"Request sent to Schedule TravelOnTip SAPI for transation id :" #[vars.transactionId]'/>
		<http:request method="GET" doc:name="Request" doc:id="32ee0457-be57-45cc-aaea-f6a53c8c7740" config-ref="HTTP_Request_configuration" path="${secure::http.requester.Path}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	sType : vars.sType
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	departureLocationCode : vars.departureLocationCode,
	destinationLocationCode:vars.destinationLocationCode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="d3478d9a-9f88-478d-815a-432e3ccf625a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	availableSeats: payload01.availableSeats ,
	departureDateTime: payload01.departureDateTime,
	travelRoute: {
		destinationLocation: payload01.travelRoute_destinationLocation_locationCode,
		originLocation: payload01.travelRoute_originLocation_locationCode,
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="247a0c9e-395d-4b6a-b04b-f52642b031de" message='"Response  sent to TravelOnTip SAPI for transation id :" #[vars.transactionId] #[payload]'/>
	</flow>
</mule>
