src/main/mule/global/retrievetravelontiproutesandschedule-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrievetravelontiproutesandschedule-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="GlobelError_Handler">
            
            
           
        </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedule-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="GlobelError_Handler">
            
        </error-handler>
    </flow>
    <sub-flow name="retrievetravelontiproutesandscheduleVariables-sapi_Sub_Flow" doc:id="4d9a0d08-f348-4751-b922-05a2f9a7aa2d" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="departureLocationCode" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryparams.departureLocationCode]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocationCode" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryparams.destinationLocationCode]]></ee:set-variable>
				<ee:set-variable variableName="sType" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'sType']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedule-sapi-config">
        <flow-ref doc:name="Flow ReferenceForTravelOnTipRoutesVariables-sapi" doc:id="b47f8f69-737d-416c-b993-b5473f2c1453" name="retrievetravelontiproutesandscheduleVariables-sapi_Sub_Flow"/>
		<flow-ref doc:name="Flow Reference" doc:id="dfe35c0f-3d53-4d38-a232-728405530bac" name="retriveRoutesFromTravelOnTip-SAPIFlow"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedule-sapi-config">
        <flow-ref doc:name="Flow ReferenceForTravelOnTipScheduleVariables-sapi" doc:id="375d16d8-8258-46bd-a9a8-d98ee81457a1" name="retrievetravelontiproutesandscheduleVariables-sapi_Sub_Flow"/>
        <flow-ref doc:name="Flow Reference" doc:id="fcfa7771-7a99-4818-98c5-a96fc3798ded" name="retriveSchedulesFromTravelOnTip-SAPIFlow"/>
    </flow>
</mule>
